# Answer 1

In [10]:
name = input("Enter the name: ")
rollno = input("Enter the roll number: ")
mark = input("Enter the mark: ")
print("\n")
print("Name: ",name)
print("Roll No: ",rollno)
print("Mark: ",mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78


Name:  Anisha
Roll No:  21
Mark:  78

# Answer 2

In [14]:
fahrenheit = float(input("Temperature in Fahrenheit = "))
celsius = ((fahrenheit-32)/9)*5
print("Temperature in Celsius = ",int(celsius))

Temperature in Fahrenheit = 55
Temperature in Celsius =  12

# Answer 3

In [1]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
print("The Product of the above two numbers is ",number1*number2)

Enter the first number: 2
Enter the second number: 3
The Product of the above two numbers is  6

# Answer 4

In [10]:
string = "Learn Python by Developing a Website "
new_string = string.replace("n ","n**")
new_string_1 = new_string.replace(" W","**W")
new_string_2 = new_string_1.replace("e ","e**")
print(new_string_2)

Learn**Python**by Developing a**Website**

# Answer 5

In [14]:
import math
radius = float(input("Enter radius "))
print("Area of the circle with radius "+str(radius)+" is "+str(math.pi*radius**2))

Enter radius 3
Area of the circle with radius 3.0 is 28.274333882308138

# Answer 6

In [17]:
MyList = [10,20,30,40,70,60,50,80]
print(MyList)
no = int(input("Enter a number to be inserted to the list "))
pos =int(input("Enter the position to which the number is to be inserted "))
MyList.insert(pos,no)
print(MyList)

[10, 20, 30, 40, 70, 60, 50, 80]
Enter a number to be inserted to the list 23
Enter the position to which the number is to be inserted 2
[10, 20, 23, 30, 40, 70, 60, 50, 80]

# Answer 7

In [23]:
sample_dict = {"name":"John","age":5,"salary":8000,"city":"New York"}
print(sample_dict)
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'New York'}
{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

# Answer 8

In [25]:
sample_dict={'emp1':{'name':'John','salary':7500},
             'emp2':{'name':'Emma','salary':8000},
             'emp3':{'name':'Brad','salary':500}}
print(sample_dict)
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Answer 9

In [40]:
tuple1 = (10,20,43,54,56,68)
tuple2 = tuple1[2:4]
print(tuple2)

(43, 54)

# Answer 10

In [41]:
tuple1 = (50,10,60,70,50,83,567,50,81)
print(tuple1.count(50))

3